# deps
node_modules
.pnpm-store

# builds
.next
dist
out
build
coverage
*.tsbuildinfo

# env
.env
.env.local
.env*.local

# turbo
.turbo

# supabase
supabase/.branches
supabase/.temp

# misc
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
playwright-report
test-results
